<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.guoxin.manager.mapper.AddressMapper">

    <resultMap id="BaseResultMap" type="me.guoxin.pojo.GfsAddress">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="receiver_name" jdbcType="VARCHAR" property="receiverName"/>
        <result column="receiver_phone" jdbcType="VARCHAR" property="receiverPhone"/>
        <result column="receiver_address" jdbcType="VARCHAR" property="receiverAddress"/>
        <result column="append_receiver_address" jdbcType="VARCHAR" property="appendReceiverAddress"/>
        <result column="longitude" jdbcType="DOUBLE" property="longitude"/>
        <result column="latitude" jdbcType="DOUBLE" property="latitude"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <association property="user" javaType="me.guoxin.pojo.GfsUser">
            <id column="u_id" jdbcType="BIGINT" property="id"/>
            <result column="u_username" jdbcType="VARCHAR" property="username"/>
            <result column="u_phone" jdbcType="VARCHAR" property="phone"/>
            <result column="u_password" jdbcType="VARCHAR" property="password"/>
            <result column="u_salt" jdbcType="VARCHAR" property="salt"/>
            <result column="u_create_time" jdbcType="TIMESTAMP" property="createTime"/>
            <result column="u_last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime"/>
            <result column="u_status" jdbcType="INTEGER" property="status"/>
            <result column="u_sex" jdbcType="VARCHAR" property="sex"/>
            <result column="u_description" jdbcType="VARCHAR" property="description"/>
            <association column="u_id" property="role" javaType="me.guoxin.pojo.GfsRole" select="me.guoxin.manager.mapper.RoleMapper.getRolesByUserId">
            </association>
        </association>
        <association column="id" property="city" javaType="me.guoxin.pojo.GfsCity" select="me.guoxin.manager.mapper.CityMapper.selectCityByAddressId">
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        a.id, a.receiver_name, a.receiver_phone, a.receiver_address, a.append_receiver_address, a.longitude, a.latitude, a.create_time, a.update_time, u.id as u_id, u.username as u_username, u.phone as u_phone,  u.password as u_password, u.salt as u_salt, u.create_time as u_create_time, u.last_login_time as u_last_login_time, u.status as u_status, u.role_id as u_role_id, u.sex as u_sex, u.description as u_description
    </sql>
    <!--<sql id="Base_Column_List">-->
        <!--a.id, a.receiver_name, a.receiver_phone, a.receiver_address, a.append_receiver_address, a.longitude, a.latitude, a.create_time, a.update_time, u.id as u_id, u.username as u_username, u.phone as u_phone,  u.password as u_password, u.salt as u_salt, u.create_time as u_create_time, u.last_login_time as u_last_login_time, u.status as u_status, u.role_id as u_role_id, u.sex as u_sex, u.description as u_description, r.id as r_id, r.name as r_name, r.description as r_description,c.id as c_id,c.name as c_name-->
    <!--</sql>-->

    <insert id="insert" parameterType="me.guoxin.pojo.GfsAddress">
        INSERT INTO gfs_address(id, user_id,receiver_name,receiver_phone,receiver_address,append_receiver_address,longitude,latitude,city_id,create_time,update_time) VALUES (#{id},#{user.id},#{receiverName},#{receiverPhone},#{receiverAddress},#{appendReceiverAddress},#{longitude},#{latitude},#{city.id},#{createTime},#{updateTime})
    </insert>

    <select id="selectByUserId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        gfs_address a
        JOIN  gfs_user u ON a.user_id = u.id
        WHERE u.id = #{id}
    </select>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE from gfs_address where id = #{id}
    </delete>

</mapper>