<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.guoxin.manager.mapper.AddressMapper">

    <resultMap id="BaseResultMap" type="me.guoxin.pojo.GfsAddress">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="receiver_name" jdbcType="VARCHAR" property="receiverName"/>
        <result column="receiver_phone" jdbcType="VARCHAR" property="receiverPhone"/>
        <result column="receiver_address" jdbcType="VARCHAR" property="receiverAddress"/>
        <result column="append_receiver_address" jdbcType="VARCHAR" property="appendReceiverAddress"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="longitude" jdbcType="DOUBLE" property="longitude"/>
        <result column="latitude" jdbcType="DOUBLE" property="latitude"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <association column="user_id" property="user" javaType="me.guoxin.pojo.GfsUser" select="me.guoxin.manager.mapper.UserMapper.selectById"/>
        <association column="id" property="city" javaType="me.guoxin.pojo.GfsCity" select="me.guoxin.manager.mapper.CityMapper.selectCityByAddressId"/>
    </resultMap>

    <sql id="Base_Column_List_WITHOUT_USER">
        a.id, a.receiver_name, a.receiver_phone, a.receiver_address, a.append_receiver_address, a.longitude, a.latitude, a.create_time, a.update_time, a.user_id, a.status
    </sql>

    <insert id="insert" parameterType="me.guoxin.pojo.GfsAddress">
        INSERT INTO gfs_address(id, user_id,receiver_name,receiver_phone,receiver_address,append_receiver_address,longitude,latitude,city_id,create_time,update_time,status) VALUES (#{id},#{user.id},#{receiverName},#{receiverPhone},#{receiverAddress},#{appendReceiverAddress},#{longitude},#{latitude},#{city.id},#{createTime},#{updateTime},#{status})
    </insert>

    <select id="selectByUserId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List_WITHOUT_USER"/>
        FROM
        gfs_address a
        JOIN  gfs_user u ON a.user_id = u.id
        WHERE u.id = #{id} AND a.status = 1
    </select>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE from gfs_address where id = #{id}
    </delete>

    <update id="setUnable" parameterType="java.lang.Long">
        UPDATE gfs_address SET status = 2 where id = #{id}
    </update>
    
    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List_WITHOUT_USER"/>
        FROM gfs_address a
        WHERE a.id = #{id}
    </select>

</mapper>