<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.guoxin.manager.mapper.CategoriesMapper">
    <resultMap id="BaseResultMap" type="me.guoxin.pojo.GfsCategories">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <collection property="products" ofType="me.guoxin.pojo.GfsProduct">
            <id column="p_id" jdbcType="BIGINT" property="id"/>
            <result column="p_name" jdbcType="VARCHAR" property="name"/>
            <result column="p_price" jdbcType="DECIMAL" property="price"/>
            <result column="p_description" jdbcType="VARCHAR" property="description"/>
            <result column="p_image" jdbcType="VARCHAR" property="image"/>
            <result column="p_status" jdbcType="INTEGER" property="status"/>
            <result column="p_create_time" jdbcType="TIMESTAMP" property="createTime"/>
            <result column="p_update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">c.id, c.name, c.description, c.create_time, c.update_time, p.id as p_id, p.name as p_name, p.price as p_price, p.description as p_description,p.image as p_image,p.status as p_status,p.create_time as p_create_time,p.update_time as p_update_time</sql>
    <sql id="Base_Column_List_Without_Product">c.id, c.name, c.description, c.create_time, c.update_time</sql>

    <select id="selectCategories" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM gfs_categories c
        LEFT JOIN gfs_product p ON c.id = p.categories_id and p.status = 1
    </select>

    <select id="selectCategoriesWithoutProductById" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List_Without_Product"/>
        FROM gfs_categories c
        WHERE c.id = #{id}
    </select>

    <select id="selectCategoriesListWithoutProducts" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List_Without_Product"/>
        FROM gfs_categories c
    </select>


</mapper>