<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.guoxin.manager.mapper.RecommendMapper">

    <resultMap id="BaseResultMap" type="me.guoxin.pojo.GfsRule">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="products" jdbcType="VARCHAR" property="products"/>
        <result column="confidence" jdbcType="DOUBLE" property="confidence"/>
    </resultMap>

    <resultMap id="BaseResultMap2" type="me.guoxin.pojo.GfsFrequent">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="products" jdbcType="VARCHAR" property="products"/>
        <result column="support" jdbcType="DOUBLE" property="support"/>
    </resultMap>

    <update id="truncateFrequent">
      truncate table gfs_frequent
    </update>

    <update id="truncateRules">
      truncate table gfs_rules
    </update>

    <insert id="insertFrequent" keyProperty="id" useGeneratedKeys="true" parameterType="java.util.HashMap">
        INSERT INTO gfs_frequent (id,products,support) VALUE
        <foreach collection="content.entrySet()" index="key" item="value" separator=",">
            (null,#{key},#{value})
        </foreach>
    </insert>

    <insert id="insertRules" keyProperty="id" useGeneratedKeys="true" parameterType="java.util.HashMap">
        INSERT INTO gfs_rules (id,products,confidence) VALUE
        <foreach collection="content.entrySet()" index="key" item="value" separator=",">
            (null,#{key},#{value})
        </foreach>
    </insert>

    <select id="selectRules" resultMap="BaseResultMap">
        SELECT id,products,confidence FROM gfs_rules
    </select>

    <select id="selectFrequent" resultMap="BaseResultMap2">
        SELECT id,products,support FROM gfs_frequent
    </select>
</mapper>